<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DrawTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DrawTools.Properties.Settings>
            <setting name="penWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="textSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="quality" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="color" serializeAs="String">
                <value>Red</value>
            </setting>
        </DrawTools.Properties.Settings>
    </userSettings>
</configuration>